<!doctype html>

<html lang="en">
  <head>
    <title>HTMLWebpackPlugin.options.title</title>

    <meta charset="utf-8">

    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; font-src 'self'">
  </head>
  <body>
    <div id="root"></div>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  </body>
</html>
